html {
    background-color: #000;
    color: #fff;
}

#doc {
    font-size: 138.5%;
}

#hd {
    background-color: #333;
    overflow: auto;
    width: 100%;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

#bd {
    margin-top: 5px;
}

#msg {
    color: green;
}

/* error_message is from HTML::FormHandler validation msgs */
#error_msg, .error_message {
    color: red;
}

.button {
    display: inline;
}

button, input[type=submit] {
    border: 1px solid black;
    background-color: #99c;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

input[type=text], input[type=password] {
    border: 1px solid black;
    background-color: #99c;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

input[type=checkbox] {
    margin-left:15px;
    margin-right:5px;
}

/***************/
/* Musicplayer */
/***************/

#player_control {
    height:30px;
}

#playlist {
    min-height: 100px;
}

#playlists a span, #playlist a span, #songlist a span {
    display: none;
    float:right;
    margin-left:5px;
}

.container {
    background-color:#333;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    padding:5px;
}

.container h1 {
    color: #ddd;
    text-align: center;
}

.items a, #search, #searchall {
    color: black;
    display: block;
    padding-left:5px;
    padding-right:5px;
    margin-top:2px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    height: 20px;
    background-color: #666;
    text-decoration: none;
    font-size: 0.8em;
}

a.playing, a.paused {
    background-color: #369;
}

.items a:hover {
    background-color: #66f;
}

#searchall {
    display: inline;
}

#search {
    display: inline;
    border:0px solid black;
    background-color:#eee;
    color:#111;
}

#hd a {
    display:inline;
}

#hd .left a {
    margin-right: 5px;
    float:left;
}

#hd .right a {
    margin-left: 5px;
    float:right;
}
