#doc {
    font-size: 138.5%;
}

#bd {
    min-height: 600px;
    background-color: #69c;
}

#hd, #ft {
    background-color: #f6f;
}

#nav {
    background-color: #6f6;
    min-height: 600px;
}

#msg {
    color: green;
}

/* error_message is from HTML::FormHandler validation msgs */
#error_msg, .error_message {
    color: red;
}

.button {
    display: inline;
}

button, form.button input {
    border: 1px solid black;
    background-color: #99c;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

/***************/
/* Musicplayer */
/***************/

.clips {
    float:left;
    margin-left: 40px;
    width:400px;
    background-color:#333;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    padding:5px;
}

.clips h1 {
    color: #fff;
    text-align: center;
}

#player_control {
    height:30px;
}

.clips a {
    color: black;
    display: block;
    padding-left:10px;
    margin-top:2px;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    height: 20px;
    background-color: #52e93a;
    text-decoration: none;
    font-size: 0.8em;
}

a.playing, a.paused, .clips a:hover {
    background-color: #99f;
}
