<div class="container">
<table>
    [% FOREACH user = users %]
    <tr>
        <td>[% user.name %]</td>
        <td><a href="[% c.uri_for(c.controller('User').action_for('edit'), [ user.id ]) %]"><button>edit</button></a></td>
        <td><form class="button" method="post" action="[% c.uri_for(c.controller('User').action_for('delete'), [ user.id ]) %]"><input type="submit" value="delete" onclick="return confirm('Confirm deletion')" /></form></td>
    </tr>
    [% END %]
</table>
</div>
